@import '../../assets/styles/globalStyles.scss';
@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/styleConstants.scss';

.header {
    @include flex($flex-direction:column);
    width: 100%;
    height: 60px;
    
}

.header__menu {
    @include flex($justify-content: space-between);
    width: 100%;
    height: 100%;
    max-width: 992px;
    padding: $p-16;
}

.menu__logo {
    height: 100%;
}

.logo__image {
    height: 100%;
    cursor: pointer;
}

.menu__hamburger {
    height: 100%;
    cursor: pointer;
}