@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/globalStyles.scss';
@import '../../assets/styles/styleConstants.scss';

.teams {
    @include flex($flex-direction:column);
    width: 100%;
}

.teams__list {
    @include flex($flex-direction:column);

    width: 100%;
}

.downloads-container {
    @include flex($flex-direction:column);

    width: 100%;
    margin-bottom: $m-16;
}

.downloads__title {
    color: $darkBlue;
    font-weight: $text-semibold
}

.downloads__buttons {
    @include flex();
    flex-wrap: wrap;
    padding: $p-6;
}

.downloads__button {
    margin: $m-4;
    width: 100px;

    @media only screen and (min-width: $query-1280) {
        margin: $m-8;
    }
}