// Classes generals
@import './styleConstants.scss';
@import './mixins.scss';

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

@media only screen and (min-width:$query-1280) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: flex;
    }
}

