//colors
$semiBlue: rgb(0, 120, 132);

// font-family (los de debajo van a ir en función de éste)

// font weight

//line height

// letter spacing

// font sizes
$text-16: 16px;
$text-14: 14px;
$error-text-12:12px;

$mobile-subtitle-18: 18px;
$mobile-title-20: 20px;

$desktop-subtitle-20: 20px;
$desktop-title-22: 22px;

// padding
$p-4: 4px;
$p-8: 8px;
$p-16: 16px;
$p-24: 24px;
$p-32: 32px;

// margin
$m-4: 4px;
$m-8: 8px;
$m-16: 16px;
$m-24: 24px;
$m-32: 32px;

// border radius
$rounded-button: 5px;
