@import '../../../../assets/styles/globalStyles.scss';
@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/styleConstants.scss';


.register__participant-border {
    border: 1px solid $darkBlue;
    margin: $m-12;
    padding: $p-12;
}
