@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/globalStyles.scss';
@import '../../../../assets/styles/styleConstants.scss';

.challenge-card {
    @include flex($flex-direction: column, $align-items: center);
    padding: $p-12;
    border: 1px solid $lighterBlue;
    border-radius: $border-radius;
    width: 80%;

    max-width: 275px;

    &:hover {
        background-color: $lighterBlue-transparent
    }

    @media only screen and (min-width: $query-1280){
        padding: $p-16;
    }
}

.challenge__number {
    font-size: $text-32;
    color: $lighterBlue;
}

.challenge__title {
    color: $darkBlue;
    font-size: $text-24;
}

.challenge__subtitle {
    color: $darkBlue;
    font-size: $text-14;
}

.challenge__img {
    height: 24px;
    width: 24px;
    margin: 12px 0;
}